
.images{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:20px;
    
    
}

.images img{
    margin-top: 15px;
    width: 215px;
    height: 150px;
}

.view-all {
    text-transform: uppercase;
    color: orange;
    text-align: right;   
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 250px; 
}

.card-grid{
    display: flex;
    gap: 30px 20px;

    justify-content: center;
    width: 1200px;
    flex-wrap: wrap;
    margin : 50px auto;
    padding-left: 200px;
    
    
}

.card{
    text-align: center;
    font-size: 14px;
    
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 8px;;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: #222;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
}


.title {
  font-weight: bold;
  color: #555;
}


.content {
  font-size: 12px;
  text-align: left;
  color: #342d2d;
  margin: 8px;
  max-width: 200px;
}
.read-more {
  color: orange;
  font-size: 12px;
  font-weight: bold;
  margin: 100px;
}