<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Authors </h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Gender</th>
            
        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.age }}</td>
                <td>{{ author.email }}</td>
                <td>{{ author.gender }}</td>
            </tr>
        {% endfor %}
    </table>
    
    
</body>
</html>